*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-VariableFont.ttf);
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url(fonts/SpaceGrotesk-VariableFont.ttf);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat";
}

h1 {
  font-family: "SpaceGrotesk";
  text-align: center;
  font-size: 3rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--accent-color);
}
a:visited {
  all: unset;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
li {
  float: left;
  display: flex;
  align-items: center;
  gap: 4px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}
label {
  margin-bottom: 3px;
}
input {
  margin-bottom: 1rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.485);
  border: none;
  border-bottom: 3px solid var(--accent-color);
  outline: none;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 5px;
}
button {
  width: 100px;
  margin: 10px auto;
  height: 2rem;
  font-weight: 500;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}
.selected {
  text-decoration: underline 2px var(--accent-color);
  text-underline-offset: 5px;
}
.form-section {
  background-color: rgba(245, 245, 245, 0.186);
  width: 350px;
  display: flex;
  justify-content: center;
  height: 300px;
  border-radius: 10px;
}
.login {
  display: none;
}
.register {
  display: none;
}
