*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-VariableFont.ttf);
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url(fonts/SpaceGrotesk-VariableFont.ttf);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat";
}

h1 {
  font-family: "SpaceGrotesk";
  text-align: center;
  font-size: 3rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--accent-color);
}
a:visited {
  all: unset;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
li {
  float: left;
  display: flex;
  align-items: center;
  gap: 4px;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}
label {
  margin-bottom: 3px;
}
input {
  margin-bottom: 1rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.485);
  border: none;
  border-bottom: 3px solid var(--accent-color);
  outline: none;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 5px;
}
button {
  width: 100px;
  margin: 10px auto;
  height: 2rem;
  font-weight: 500;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: var(--button-hover-color);
}
button:active {
  background-color: var(--button-hover-color);
}
.selected {
  text-decoration: underline 2px var(--accent-color);
  text-underline-offset: 5px;
}
.form-section {
  background-color: rgba(245, 245, 245, 0.186);
  width: 350px;
  display: flex;
  justify-content: center;
  height: 300px;
  border-radius: 10px;
}

.user {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: var(--accent-color);
}
.error {
  display: none;
  justify-content: center;
  background-color: red;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
  width: 200px;
  margin: 0 auto;
}
.success {
  display: none;
  justify-content: center;
  background-color: lightgreen;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
  color: black;
  width: 200px;
  margin: 0 auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content li {
  background-color: rgba(255, 255, 255, 0.148);
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 15px;
  position: relative;
}
.color-div {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
}
.buttons {
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}
.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin: 0;
}
.buttons span {
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  margin-bottom: 10px;
}
.hide {
  display: none;
}
.delete-button {
  position: absolute;
  right: 8px;
  top: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
}
.delete-button:hover {
  opacity: 1;
}

.delete-button:active {
  opacity: 1;
}
.confirm-modal {
  position: absolute;
  left: calc(50% - 350px / 2);
  top: calc(50% - 250px / 2);
  background-color: rgba(184, 183, 183, 0.9);
  height: 250px;
  width: 350px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  outline: red 2px solid;
}
.modal-buttons-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.confirm-button {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 2.2rem;
  width: 150px;
}
.cancel-button {
  height: 2.2rem;
  background-color: lightgreen;
  color: black;
  font-weight: bold;
}
textarea {
  border: none;
  border-bottom: 2px solid var(--accent-color);
  background-color: rgba(255, 255, 255, 0.485);
  color: white;
  padding: 3px;
  width: 85%;
  height: 100px;
}
